# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/lab7-8/node_modules
/lab7-8/node_modules/.bin
/lab7-8/node_modules
\Web\lab7-8\node_modules
lab7-8/node_modules/.bin/autoprefixer.ps1
/lab7-8/node_modules
/lab7-8/node_modules

