.loader {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
}

.loading-image {
  width: 200px;
  height: 200px;
  animation: spin 0.2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}